<h2>Hi Coordinator!</h2>
<p>This mail is to notify you about the new event
  <strong><%= @event.name %></strong> by <%= @event.coordinator.email %></p>   <!-- Pulling @event from mailers/user_mailer.rb -->
<p><%= link_to "Click Here to know more", event_url(@event) %></p>
