<h2>Hola Member</h2>
<p>This mail is to notify you about the new event <strong><%= @event.name %></strong> by <%= @event.coordinator.email %></p>
<p><%= link_to "Click Here to know more", event_url(@event) %></p>
